.row {
    display: flex;
}

.contact {
    flex:10%;
    background-color: #11ee14;
    padding: 1rem;
}

.skills {
    flex:auto;
    padding: 1rem;
}


@media screen and (max-width: 600px){
    .contact {
        flex:10%;
        background-color: #11ee14;
        padding: 1rem;
    }
    
    .skills {
        padding: 1rem;
    }
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: crimson;
}